@import "tailwindcss";

/* Custom base styling */
body {
  background-color: #0a0a0a;
  color: white;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

@media (min-width: 768px) {
  body {
    cursor: none;
  }
}